{
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSpacing": true,
  "semi": true,
  "printWidth": 120,
  "importOrder": [
    "^@nest/(.*)$",
    "^@angular/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "@nxan/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "arrowParens": "always",
  "bracketSameLine": true
}
